<main class="flex-xs-1 flex-xs flex-xs-column">
  <!-- Navigation -->
  <ng-include src="'/dashboard/app/partials/navbar.html'"></ng-include>

  <div class="flex-xs-1 flex-xs flex-xs-column">
    <nav class="navbar navbar-light navbar-full bg-faded text-xs-right">
      <a href="#/testimonials/new" class="btn btn-primary-outline btn-sm">
        <i class="fa fa-plus"></i> New Testimonial
      </a>
    </nav>
    <div class="flex-sm-1 p-a-1 overflow-y scrollbar-teal bg-gray">
      <div class="card-columns">
        <div class="card" ng-repeat="testimonial in testimonials">
          <img class="card-img-top" data-ng-src="{{testimonial.img}}" ng-if="testimonial.img" width="100%">
          <div class="card-block">
            <h4 class="card-title">{{testimonial.name}}</h4>
            <div ng-bind-html="testimonial.body | markdown"></div>
            <a href="#/testimonials/edit/{{testimonial._id}}" class="card-link">Edit</a>
            <a href ng-click="delete(testimonial._id)" class="card-link">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="alert alert-static alert-danger" ng-show="errors">
  <strong>Something went wrong : </strong>
  <ul>
    <li ng-repeat="error in errors.data.meta.errors">
      {{error.msg}}
    </li>
  </ul>
</div>
